        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Courier New', Courier, monospace;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        body.noscroll {
            overflow: hidden;
        }

        .head {
            width: 100%;
            padding: 1rem;
            position: fixed;
            left: 0;
            top: 0;
            background-color: aqua;
            color: rgb(31, 26, 26);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .header-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1rem;
        }

        .section-start {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 0;
            left: 0;
            pointer-events: auto;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }
         .section-start .start-container,.section-start .difficulty-buttons  {
            height: 40%;
            width: 40%;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 3;
        }
        .section-start .difficulty-buttons {
            display:none;
            transition: display 0.5s ease-in-out;
            gap: 0.3rem;
        }
        .section-start .difficulty-buttons h2{
            text-transform:uppercase;
        }
        .section-btn,
        .section-over {
            display: flex;
            flex-wrap: wrap;
            pointer-events: none;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 10px;
            width: 70%;
            margin: 5.2rem auto;
            box-shadow: 2px 3px 20px rgba(95, 99, 99, 0.881);
        }

        .section-btn {
            position: relative;
            z-index: 1;
        }

        .section-over {
            flex-direction: column;
            align-items: center;
            padding: 1.5rem;
            justify-content: space-around;
            gap: 2rem;
            opacity: 0;
        }

        .section-over .btn-restart {
            padding: 1rem 2.5rem;
            border-radius: 8px;
            outline: blue;
            border: none;
            background-color: aqua;
            color: black;
        }

        .section-over .btn-restart:active {
            transform: scale(-1.2, 1.5);
            transition: transform 1.5s ease;
        }

        .section-over h1 {
            color: rgba(235, 31, 34, 0.938);
            text-transform: uppercase;
            font-size: 3rem;
            ;
        }

        .section-over h2 {
            color: rgb(7, 225, 7);
            text-transform: uppercase;
            font-size: 2rem;
        }

        .btn2 {
            width: 4rem;
            height: 4rem;
            margin: 0.8rem;
            background-color: rgb(31, 26, 26);
            color: white;
            border-radius: 50%;
            border: none;
            box-shadow: 1px 1px 20px rgba(95, 99, 99, 0.881);
            font-size: 2rem;
            cursor: pointer;
        }

        .btn-start {
            padding: 1rem 3rem;
            border-radius: 8px;
            outline: blue;
            border: none;
            background-color: rgb(7, 254, 127);
            color: black;
            font-size: 1.5rem;
            cursor: pointer;
            margin-bottom: 0.3rem;
        }
        .btn-select {
            padding: 1rem 2.6rem;
            border-radius: 8px;
            border: none;
            background-color: rgb(89, 89, 236);
            color: black;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .btn-start:active {
            transform: scale(-1.2, -1.5);
            transition: transform 0.2s ease;
            background-color: rgba(7, 254, 126, 0.395);
        }
        .btn-select:active {
            transform: scale(-1.2, -1.5);
            transition: transform 0.2s ease;
            background-color: rgba(89, 89, 236, 0.395);
        }

        .section-countdown {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }

        .section-countdown .countdown {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 3;
            height: 100%;
        }

        .section-countdown .countdown .countdown-text {
            color: white;
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        .section-countdown .countdown .countdown-timer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
        }

        /* Responsive style here */
        @media screen and (max-width : 897px) and (min-width: 600px) {
            .btn2 {
                height: 3rem;
                width: 3rem;
                margin: 0.7rem;
                font-size: 1.5rem;
            }

            .section-over h1 {
                font-size: 2.5rem;
            }
        }

        @media screen and (max-width : 599px) and (min-width: 410px) {

            .btn2 {
                height: 2.3rem;
                width: 2.3rem;
                margin: 0.7rem;
                font-size: 1.3rem;
            }
            .btn-start {
                padding: 0.8rem 2.5rem;
                font-size: 1.2rem;
            }
            .btn-select {
                padding: 0.8rem 2.1rem;
                font-size: 1.2rem;
            }
            .section-over h1 {
                font-size: 1.85rem;
            }

            .section-over h2 {
                font-size: 1.3rem;
            }
            .section-over .btn-restart {
                padding: 0.8rem 2rem;
                font-size: 1.2rem;
            }
            .section-countdown .countdown .countdown-text {
                font-size: 1.9rem;
                margin-bottom: 1rem;
            }

            .section-countdown .countdown .countdown-timer {
                width: 90px;
                height: 90px;
                font-size: 1.6rem;
            }
        }

        @media screen and (max-width : 411px) {

            .btn2 {
                height: 1.6rem;
                width: 1.6rem;
                margin: 0.4rem;
                font-size: 1rem;
            }

            .btn-start {
                padding: 0.5rem 1.5rem;
                font-size: 0.8rem;
            }
             .btn-select {
                padding: 0.5rem 1.1rem;
                font-size: 0.8rem;
            }

            .section-over h1 {
                font-size: 1.158rem;
            }

            .section-over h2 {
                font-size: 1rem;
            }

            .section-over .btn-restart {
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
            }

            .section-countdown .countdown .countdown-text {
                font-size: 1.85rem;
                margin-bottom: 0.8rem;
            }

            .section-countdown .countdown .countdown-timer {
                width: 80px;
                height: 80px;
                font-size: 1.4rem;
            }
        }
